/* Add this to your existing styles.css file */

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  #photo {
    background-image: url('https://source.unsplash.com/random?nature/1920×1080');
  }
  